DEBUG=True
SECRET_KEY=5kow(e^umccz0fztmh$1(8oxc@y0x(1ngvtbp_$a$o_v&3%*zj
STATIC_ROOT=
DB_NAME=vetis
DB_USER=vetis
DB_PASSWORD=vetis
DB_HOST=192.168.101.243
DB_PORT=5432
CELERY_BROKER_URL=pyamqp://192.168.101.242//
CELERY_WORKER_POOL=solo