{% extends 'main/base.html' %}

{% block title %}Наименование продукции{% endblock %}

{% block content %}

  <h3 class="mt-3">Карточка элемента справочника (наименование продукции)</h3>
  
  <div class="card mt-3">
    <div class="card-header d-flex justify-content-between">
      <div class="fw-bold {% if not product_item.is_active %}text-decoration-line-through{% endif %}">{{ product_item.name }}</div>
      <div>{{ product_item.producer }}</div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{ product_item.get_product_type_display }} <i class="bi bi-caret-right-fill"></i> {{ product_item.product }} <i class="bi bi-caret-right-fill"></i> {{ product_item.subproduct }}
      </li>
      {% if product_item.gtin %}
        <li class="list-group-item">
          <span class="badge text-bg-secondary">GTIN</span> {{ product_item.gtin }}
        </li>
      {% endif %}
      {% if product_item.is_gost %}
        <li class="list-group-item">
          <span class="badge text-bg-secondary">ГОСТ</span> {{ product_item.gost }}
        </li>
      {% endif %}
      <li class="list-group-item">
        {% load django_bootstrap5 %}
        <form class="form" method="POST">
          <div class="d-flex align-items-center">
            {% csrf_token %}
            {% bootstrap_label 'Ассортиментная группа' label_for='assort_group' label_class='me-0' %}
            {% bootstrap_field assort_form.assort_group show_label='skip' wrapper_class='ms-2' %}
            <button class="btn btn-primary ms-2" name="save_assort_group" type="submit">Сохранить</button>
          </div>
        </form> 
      </li>
    </ul>
    <div class="card-footer text-body-secondary">
      {% if product_item.guid %}
        <small>GUID: {{ product_item.guid }}<br />UUID: {{ product_item.uuid }}</small>
      {% else %}
        <span class="badge text-bg-warning">БЕЗ GUID</span>
      {% endif %}
    </div>
  </div>
{% endblock %}
