{% extends 'main/base.html' %}

{% block content %}
  {% load django_bootstrap5 %}
  <div class="d-flex justify-content-between align-items-end">
    <h3 class="mt-3">Складской журнал</h3>
    <div><small class="text-secondary">
      <i class="bi bi-calendar-check"></i> Журнал обновлен: {{ stock_last_updated|default:"---" }}
      <br />
      <i class="bi bi-calendar-check"></i> Последнее событие: {{ entries_last_updated|default:"---"  }}
    </small></div>
    <form method="POST" action="{% url 'main:vetis_task' %}">
      {% csrf_token %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i></button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" name="vetis_task" value="update_stock_entries" onclick="return window.confirm('Будут загружены данные с сайта Ветис. Вы уверены?')">Обновить записи журнала</button>
          </li>
        </ul>
      </div>
    </form>
  </div>

  <form method="POST" name="search_form" class="mb-3">
    {% csrf_token %}
    <div class="row align-items-end">
      {% bootstrap_field form.product wrapper_class='col-lg-4 mb-3 mb-lg-0' %}
      {% bootstrap_field form.search_query wrapper_class='col-lg-4 mb-3 mb-lg-0' %}
      {% bootstrap_field form.has_quantity wrapper_class='col-lg-1 mb-3 mb-lg-0' %}
      <div class="col-lg-3 d-flex justify-content-end">
        <button class="btn btn-primary" name="search" type="submit">Применить</button>
        <a class="ms-1 btn {{ btn_filters_class }}" data-bs-toggle="collapse" href="#collapseFilter" title="Еще фильтры">
          <i class="bi bi-funnel"></i>
        </a>
      </div>
    </div>
    <div class="collapse" id="collapseFilter">
      <div class="row mt-3">
        {% bootstrap_field form.date_produced_begin wrapper_class='col-lg-2 mb-3 mb-lg-0' %}
        {% bootstrap_field form.date_produced_end wrapper_class='col-lg-2 mb-3 mb-lg-0' %}
        {% bootstrap_field form.date_created_begin wrapper_class='col-lg-2 mb-3 mb-lg-0' %}
        {% bootstrap_field form.date_created_end wrapper_class='col-lg-2 mb-3 mb-lg-0' %}
      </div>
    </div>
  </form>
  {% for stock_entry in stock_entries %}
    {% if forloop.first %}
      <p class="my-0 text-secondary border-bottom"><small>Показано записей: {{ stock_entries.count }}</small></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Номер</th>
            <th scope="col">Наименование</th>
            <th scope="col">Произведено</th>
            <th scope="col">Срок годности</th>
            <th scope="col">Объем</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}
    {% include "main/includes/stock_entry_table_row.html" %}
    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
    {% empty %}
    <div class="alert alert-info mt-3" role="alert">Нет записей...</div>
  {% endfor %}
{% endblock %}
