<div class="alert alert-info mt-3">
  {% if task_ready %}
    <i class="bi bi-check-lg"></i>
  {% else %}
    <i class="bi bi-hourglass-split"></i>
  {% endif %}
  Статус задачи {{ task_id }}: {{ task_result.state }}{{ tick }}
</div>

{% if task_result.result %}
  {% if task_result.state == 'SUCCESS' %}
  <div class="alert alert-success mt-3">
  {% elif task_result.state == 'FAILURE' %}
  <div class="alert alert-danger mt-3">
  {% else %}
  <div class="alert alert-info mt-3"> 
  {% endif %}
    {{ task_result.result }}
  </div>
{% endif %}
